body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

@media screen and (min-width:768px)

h5 {
    font-size: 20px;
}



.placeholder{
    padding: 5px;
    height: 40px;
    background-color: rgb(221, 219, 219);
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-body {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-decoration: none;
background-color: rgb(235, 231, 231);
padding:20px;
}

.button1 {
    background:linear-gradient(to left top,#9356DC ,#FF79DA);
    box-shadow: 5px 5px 5px rgb(165, 163, 163);
    border: none;
    color: white;
    padding: 2px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 15px;
}

h2 {
    text-align: left;
}

.FiltresFonction {
    flex-direction: row;
    text-align: center;
    
}

.Choissisez {
    margin-bottom: 15px;
}

.compo{
    margin-bottom: 15px;
}

.degustez {
    margin-bottom: 15px;
}

.button2 {
    background-color: rgb(212, 209, 209);
    border: none;
    color: black;
    border-radius: 20px;
    font-size: 15px;
    text-decoration: none;
    box-shadow: 3px 3px 3px rgb(180, 180, 180);
}

.resto{
    flex-direction: row;
}  

/*footer*/